<?php

/**
 * @package InspireVive
 * @author Jared King <j@jaredtking.com>
 * @link http://jaredtking.com
 * @copyright 2015 Jared King
 * @license GNU GPLv3
 */

use Infuse\Email\Driver\SwiftDriver;

return [
    'app' => [
        'email' => 'hello@example.com',
        'salt' => 'REPLACE WITH RANDOM VALUE',
    ],
    'database' => [
        'main' => [
            'type' => 'mysql',
            'host' => 'localhost',
            'port' => 3306,
            'name' => 'mydb',
            'user' => 'myuser',
            'password' => 'mypass',
            'charset' => 'utf8',
            'collation' => 'utf8_unicode_ci',
            'options' => [
                PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
            ],
        ],
    ],
    'email' => [
        'from_email' => 'hello@example.com',
        'from_name' => 'InspireVive',
        'driver' => SwiftDriver::class,
        'host' => 'localhost',
        'port' => 587,
        'username' => '',
        'password' => '',
    ]
];
